.playerTable {
	align-self: flex-start;
	display: flex;
	flex-direction: column;
	background: var(--color-white-color);
	box-shadow: 0 4px 20px rgba(44, 57, 121, 9%);
	border-radius: 20px;
	width: 452px;
	padding: 24px;
	gap: 24px;
}

.infoBlock {
	display: flex;
	flex-direction: row;
	gap: 12px;
}

.userInfo {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.info {
	display: flex;
	flex-direction: column;
	gap: 4px;
}
.name{
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.winrate {
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.25px;
	color: #898993;
}

.time {
	width: fit-content;
  padding: 24px;
  background: #EDEDED;
  border-radius: 12px;
  color: #373745;
  text-align: center;
}

.game{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.gameZone{
	display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}


.field{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4px; 
}

.cell{
  background: var(--color-white-color);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 218.33px;
  height: 218.33px;
}

.turn{
  width: 400px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: #373745;
  box-shadow: 0 4px 20px rgba(44, 57, 121, 9%);
  border-radius: 12px;
  color: var(--color-white-color);
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.15px;
}

.x{
  color: #60C2AA;
  align-self: flex-start;
  border-radius: 16px 16px 16px 0;
}

.o{
  color: var(--color-o-color);
  align-self: flex-end;
  border-radius: 16px 16px 0;
}	

.nameTimeBlock {
	display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sendTime {
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.25px;
	color: #898993;
}

.text {
	font-size: 16px;
	line-height: 24px;
	display: flex;
	align-items: center;
	letter-spacing: 0.24px;
	color: #373745;
}

.messName {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
}

.message {
	display: flex;
  flex-direction: column;
  width:328px;
  background: var(--color-white-color);
  padding: 12px;
  gap: 8px;
  box-shadow: 0 2px 6px rgba(44, 57, 121, 10%);
}

.chat {
	width: 412px;
  align-self: flex-end;
  margin-bottom: 88px;
  display: flex;
  flex-direction: column;
  gap: 12px; 
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.24px;
  color: #373745;
}
/* украл xd */
.fixChat {  
  display: flex;
  width: 412px;
  height: 705px;
  flex-direction: column-reverse;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  --mask-image-content: linear-gradient(to bottom, transparent 37px, black 100px, black calc(100% - 32px), transparent 99.5%);
  mask-repeat: no-repeat, no-repeat;
  mask-image: var(--mask-image-content);
  -webkit-mask-image: var(--mask-image-content);
}

.fixChat::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.messages {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  justify-content: flex-end;
  padding: 0px 0px 20px;
}

.messages:empty::before {
  content: 'Сообщений пока нет';
  display: block;
  padding: 0px 0px 20px;
  text-align: center;
  color: #898993;
}


.messageForm {
	display: flex;
  flex-direction: row;
  gap: 12px;
  height: 48px;
}

.modal{
  width: 352px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 40px 24px ;
  box-shadow: 0 4px 20px rgba(44, 57, 121, 9%);
  border-radius: 16px;
  line-height: 150%;
  background: var(--color-white-color);
}

.cellButton {
  background: var(--color-white-color);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 218.33px;
  height: 218.33px;
  border: none;
  cursor: pointer;
  outline: inherit;
}

.xWinnerCell{
  background: #CFEDE6;
}

.oWinnerCell{

  background: #F3BBD0;
}



.sendButton {
  justify-content: center;
	background-image: url('../../../../public/static/images/send.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 48px;
  height: 48px;
  border: none;
  cursor: pointer;
  outline: inherit;
}

.newGameButton {
  background: #60C2AA;
  width: 352px;
  color: var(--color-white-color);
  border-radius: 12px;
  text-align: center;
  padding: 12px 0px;
	font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.24px;
  border: none;
  cursor: pointer;
  outline: inherit;
}

.quitToMenuButton {
  background: #F7F7F7;
  width: 352px;
  color: #373745;
  border-radius: 12px;
  text-align: center;
  padding: 12px 0px;
	font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.24px;
  border: none;
  cursor: pointer;
  outline: inherit;
}

.textInput {
	width: 310px;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.24px;
	color: #000;
	border-radius: 12px;
	padding: 11px 20px;
	border: 1px solid #DCDCDF;
}

.textInput::placeholder {
	letter-spacing: 0.24px;
	color: #B1B1B7;
}

.modalPosition {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 99;
  padding:30px 0;
  background-color: rgba(0,0,0,0.6); 
}