
.inputForm {
	display: flex;
	flex-direction: column;
	gap: 20px;
}


.auth {
	display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.authСontainer {
	display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 40px 24px ;
  box-shadow: 0 4px 20px rgba(44, 57, 121, 9%);
  border-radius: 16px;
  line-height: 150%;
  background: var(--color-white-color);
}

.authButton {
  background-color: var(--color-enter-button);
  color: var(--color-white-color);
  border-radius: 12px;
  padding: 12px 152.5px;
	font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.24px;
  border: none;
  cursor: pointer;
  outline: inherit;
}

.authButton:hover {
	background-color: var(--color-x-color);
}

.textInput {
	width: 310px;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.24px;
	color: #000;
	border-radius: 12px;
	padding: 11px 20px;
	border: 1px solid #DCDCDF;
}

.textInput::placeholder {
	letter-spacing: 0.24px;
	color: #B1B1B7;
}


.boardError {
  border: 1px solid #E93E3E;
}