.tableForm {
  background: var(--color-white-color);
  box-shadow: 0 4px 20px rgba(44, 57, 121, 9%);
  border-radius: 40px;
  padding: 32px 32px 44px 32px;
}

.header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.24px;
	color: #373745;
	min-width: 717px;
}

.table {
	border-spacing: 0px;
}

.table tr{
	display: flex;
	justify-content: space-between;
	align-content: center;
	gap : 16px;
}

.table td:nth-child(1) {
	line-height: 24px;
  font-size: 16px;
	letter-spacing: 0.24px;
	padding: 24px 0px;
	width: 360px;
	height: 24px;
}

.table td:nth-child(2) {
	display: flex;
	justify-content: space-between;
	vertical-align: middle;
	width:  341px;
	height: 48px;
	padding: 12px 0px;
	gap: 80px;
}

.free{
	width: 76px;
	height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
	padding: 4px 12px ;
	background: #A8D37F;
	border-radius: 6px;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.24px;
	margin-top: 8px;
}

.inGame{
	width: 76px;
	height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
	padding: 4px 12px;
	background: #87CAE8;
	border-radius: 6px;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.24px;
	color: #FFFFFF;
	margin-top: 8px;
}

.freeButton{
  padding: 12px 20px;
  width: 161px;
  height: 48px;
  background: #60C2AA;
  border-radius: 12px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.24px;
  border: none;
  cursor: pointer;
  outline: inherit;
}

.inGameButton{
  padding: 12px 20px;
  width: 161px;
  height: 48px;
  background: #F7F7F7;
  opacity: 0.3;
  border-radius: 12px;
  color: #373745;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.24px;
  border: none;
  cursor: not-allowed;
  outline: inherit;
}

.onlyFree {
	height: 14px;
	width: 33px;
	position: relative;
	display: inline-block;
}

.onlyFree input { 
	position: absolute;
	visibility: hidden;
	width: 100%;
}

.ball {
	position: absolute;
	cursor: pointer;
	background-color: #DCDCDF;
	-webkit-transition: .2s;
	transition: .2s;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 14px;
}

.ball:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: -3px;
	bottom: -3px;
	background-color: #F7F7F7;
	-webkit-transition: .2s;
	transition: .2s;
	border: 1px solid rgba(137, 137, 147, 0.2);
	border-radius: 50%;
}

input:checked + .ball {
	background: rgba(96, 194, 170, 0.5);
}

input:checked + .ball:before {
	-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);
	transform: translateX(20px);
}

input:checked + .ball::before {
	background-color: #3BA189;
}
