.input {
	width: 310px;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.24px;
	color: #000;
	border-radius: 12px;
	padding: 11px 20px;
	border: 1px solid #DCDCDF;
}

.input::placeholder {
	letter-spacing: 0.24px;
	color: #B1B1B7;
}


