.tableForm {
  margin-top: 64px;
  background: var(--color-white-color);
  box-shadow: 0 4px 20px rgba(44, 57, 121, 9%);
  border-radius: 40px;
  padding: 32px 16px 44px;
}

.table tr{
  box-shadow: inset 0 -1px 0 #EEEFF5;
}

.table tr th {
  white-space: nowrap;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.24px;
  text-align: left;
  color: #373745;
  padding: 12px 0 12px 8px ;
}

.table td {
  line-height: 24px;
  font-size: 16px;
  letter-spacing: 0.24px;
  color: #373745;
  box-shadow: inset 0 -1px 0 #EEEFF5;
  padding: 12px 0 12px 8px ;
}

.table td:nth-child(1) {
  width: 432px;
}

.table td:nth-child(2) {
  width: 100px;
}

.table td:nth-child(3) {
  width: 100px;
  color: #69B849;
}

.table td:nth-child(4) {
  width: 100px;
  color: #E93E3E;
}

.table td:nth-child(5) {
  width: 126px;
}

.table th:nth-child(1) {
  width: 432px;
}

.table th:nth-child(2) {
  width: 100px;
}

.table th:nth-child(3) {
  width: 100px;
}

.table th:nth-child(4) {
  width: 100px;
}

.table th:nth-child(5) {
  width: 126px;
}