:root {
  --color-enter-button : rgba(96, 194, 170, 30%);
  --color-x-color : #60C2AA;
  --color-o-color : #E38BAC;
  --color-white-color: #FFFF;
}

body {
  margin: 0;
  padding: 0;
  background: rgba(246, 246, 246, 100%);
}  

* {
  font-family: Roboto, sans-serif;
  font-weight: 400;
}