header {
	position: fixed;
  width: -webkit-fill-available;
  width: -moz-available;
  height: 64px;
  left: 0;
  top: 0;
  background: var(--color-white-color);
  box-shadow: 0 2px 6px rgba(44, 57, 121, 1%);
  display: flex;
  border-radius: 0 0 16px 16px;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 44px;
  gap: 10px;
  z-index:1;
}

nav ol {
  display: flex;
  justify-items: center;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  list-style-type: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #373745;
  gap: 16px;

}

.defaultButton {
  padding: 4px 12px;
  font-weight: 500;
  font-size: 16px;
	border-radius: 200px;
  border: none;
  cursor: pointer;
  outline: inherit;
  line-height: 24px;
  letter-spacing: 0.24px;
  background: #fff;
	color: #373745;
}


.defaultButton:hover {
	padding: 4px 12px;
  border: none;
  cursor: pointer;
  outline: inherit;
  gap: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.24px;
  background: #F7F7F7;
}

.activeButton {
  padding: 4px 12px;
  background: var(--color-x-color);
  border: none;
  border-radius: 200px;
  color: var(--color-white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.24px;
  border: none;
  cursor: pointer;
  outline: inherit;
}

.exit{
	background-image: url('../../../public/static/images/signout.svg');
	width: 18px;
  height: 18px;
  padding: 7px;
  border: none;
  cursor: pointer;
  outline: inherit;
}

.exit:hover{
	background-image: url('../../../public/static/images/signoutHover.svg');
	width: 18px;
  height: 18px;
  padding: 7px;
  border: none;
  cursor: pointer;
  outline: inherit;
}