.tableForm {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 32px;
  background: var(--color-white-color);
  box-shadow: 0 4px 20px rgba(44, 57, 121, 9%);
  border-radius: 40px;
  padding: 32px 32px 64px 32px ;
}

.header th {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.24px;
	color: #373745;
	height: 48px;
	padding: 8px 0px 8px 8px;
	text-align: left;
	display: flex;
  align-items: center;
}

.table {
	border-spacing: 0px;
}

.table tr{
  box-shadow: inset 0 -1px 0 #EEEFF5;
	display: flex;
	justify-content: space-between;
	align-content: center;
	gap: 16px;

}

.table td {
	display: flex;
	align-items: center;
	text-align: left;
	padding: 0;
	line-height: 24px;
  font-size: 16px;
	letter-spacing: 0.24px;
}

.table td:nth-child(1) {

	padding: 20px 8px;
	width: 424px;
	height: 24px;
}

.table td:nth-child(2) {
	width: 108px;
	padding: 8px 0px 8px 8px
}

.table td:nth-child(3) {
	width: 24px;
	padding: 20px 11px;
}

.table td:nth-child(4) { 	
	width: 136px;
	padding: 20px 8px;
}

.table td:nth-child(5) {
	width: 144px;
	padding: 20px 8px;
}

.table td:nth-child(6) {
	width: 144px;
	padding: 20px 8px;
}

.table td:nth-child(7) {
	width: 190px;
	display: flex;
	justify-content: center;
}

.table th:nth-child(1) {
	width: 432px;
	padding: 8px 0px 8px 8px;
}

.table th:nth-child(2) {
width:  108px;
}

.table th:nth-child(3) {
	width: 38px;
}

.table th:nth-child(4) {
	width: 144px;
}

.table th:nth-child(5) {

width: 152px;
}

.table th:nth-child(6) {
	width: 152px;
}

.table th:nth-child(7) {
	width: 182px;
}

.blocked {
	padding: 4px 12px;
	background: #EC7777;
	border-radius: 6px;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.24px;
}

.active {
	display: flex;
	justify-content: center;
	width: 112px;
	padding: 4px 12px;
	background: #A8D37F;
	border-radius: 6px;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.24px;
	color: #FFFFFF;
}

.modal {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 352px;
	background: var(--color-white-color);
	box-shadow: 0 4px 20px rgba(44, 57, 121, 9%);
	border-radius: 20px;
	gap:  20px;
	padding: 24px 24px 40px 24px
}

.modalPosition {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 99;
  padding:30px 0;
  background-color: rgba(0,0,0,0.6); 
}

.text {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.24px;
	color: #373745;
}

.close {
	width: 341.2px;
	display: flex;
	justify-content: end;
	padding: 5.41px;
}

.name {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.age {
	display: flex;
	flex-direction: column;
	gap: 8px;
	width: 72px;
	}
	

.gender  {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.genderIcons {
	display: flex;
	gap: 8px;
}

.ageGenderBox{
	display: flex;
	flex-direction: row;
	justify-content: start;
	gap: 40px
}

.addPlayerButton{
  padding: 12px 20px;
  background: #60C2AA;
  color: var(--color-white-color);
  border-radius: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.24px;
  outline: inherit;
  cursor: pointer;
	border: none;
}

.lock {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #F7F7F7;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  outline: inherit;
  color: #373745;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.24px;
  font-weight: 500; 
  border: none;
}

.unlock {

  background: #F7F7F7;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  outline: inherit;
  color: #373745;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.24px;
  font-weight: 500;
  border: none;

}

.genderButton{
  padding: 8px;
  border: 1px solid #DCDCDF;
  border-radius: 1000px;
  background: #FFFFFF;
  cursor: pointer;
  outline: inherit;
}

.genderActiveButton {
  background: #60C2AA;
  border: none;
}

.closeButton {
  background: #FFFFFF;
  cursor: pointer;
  outline: inherit;
  border: none;
  padding: 0px;
  width: 13.18px;
  height: 13.18px;
}

.close img {
  width: 13.18px;
  height: 13.18px;
}

.add {
  background-color: var(--color-x-color);
  width: 352px;
  color: var(--color-white-color);
  border-radius: 12px;
  text-align: center;
  padding: 12px 0px;
	font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.24px;
  border: none;
  cursor: pointer;
  outline: inherit;
}

.add:hover {
  background-color: var(--color-enter-button);
}

.ageInput {
	padding: 12px 20px;
	width: 30px;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.24px;
	color: #000;
	border-radius: 12px;
	padding: 11px 20px;
	border: 1px solid #DCDCDF;
}

.textInput {
	width: 310px;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.24px;
	color: #000;
	border-radius: 12px;
	padding: 11px 20px;
	border: 1px solid #DCDCDF;
}

.textInput::placeholder {
	letter-spacing: 0.24px;
	color: #B1B1B7;
}
