.tableForm {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 32px;
  background: var(--color-white-color);
  box-shadow: 0 4px 20px rgba(44, 57, 121, 9%);
  border-radius: 40px;
  padding: 32px 32px 108px 32px ;
}

.table tr{
  box-shadow: inset 0 -1px 0 #EEEFF5;
}

.header th{
	padding: 8px;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.24px;
	color: #373745;
	box-shadow: inset 0px -1px 0px #EEEFF5;
	text-align: left;
}

.header th:nth-child(1) {
	width: 662px;
}

.header th:nth-child(2) {
	width: 144px;
}

.header th:nth-child(3) {
	width: 124px;
}

.versus {
	display: flex;
  justify-content: center;
  align-items: center;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;	
	letter-spacing: 0.24px;
	color: #373745;

}

.player {
	display: flex;
	align-items: center;
	gap: 8px;
	min-width: 220px;
	padding: 4px 0px 4px 8px;

}

.players {
	display: flex	;
	min-width: 678px;
	gap: 12px;
}

.player img {
	height: 16px;
	width: 16px;
}

.row td {
	box-shadow: inset 0px -1px 0px #EEEFF5;
	padding: 8px 16px 8px 8px;
}	